# Personal secrets.resource -file
*secrets.resource

# Python Environment
venv/
.env
.venv/
env/
__pycache__/
*.py[cod]
*.pyo

# Robot Framework output
results/
*log.html
*report.html
*output.xml
*playwright-log.txt

# Browser Library output
*browser/